@using OpenTracker.Core
@model OpenTracker.Models.Account.RegisterModel


@{
	Layout = null;
}


@{
	var profiler = Context.GetProfiler();  
	if(profiler != null)
	{   
		// developer; show what timings we have
		profiler.EndAllImpl();
<!--

@profiler.Render()

-->
	}
}

<!DOCTYPE html>

<html>
<head>
	<title>Register</title>

	<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Site.css")" />

	<script src="@Url.Content("~/Content/js/jquery-1.4.4.min.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Content/js/jquery.validate.min.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Content/js/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(function () {


			// eye-candy, ofcourse.. trololololo
			$("#loader").hide();
			$("#register").click(function () {
				if ($("#Username").val().length == 0 || $("#Email").val().length == 0 || $("#Password").val().length == 0 || $("#ConfirmPassword").val().length == 0) {
					
				}
				else {
					$("#loader").fadeIn();
					$('#register').attr("disabled", true);
				}
			});
		});
	</script>
</head>
<body>
<h2>Create a New Account</h2>
<p>
	Use the form below to create a new account. 
</p>
<p>
	Passwords are required to be a minimum of @ViewBag.PasswordLength characters in length.
</p>


@using (Html.BeginForm()) {
	@Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again.")
	<div>
		<fieldset>
			<legend>Account Information</legend>

			<div class="editor-label">
				@Html.LabelFor(m => m.Username)
			</div>
			<div class="editor-field">
				@Html.TextBoxFor(m => m.Username)
				@Html.ValidationMessageFor(m => m.Username)
			</div>

			<div class="editor-label">
				@Html.LabelFor(m => m.Email)
			</div>
			<div class="editor-field">
				@Html.TextBoxFor(m => m.Email)
				@Html.ValidationMessageFor(m => m.Email)
			</div>

			<div class="editor-label">
				@Html.LabelFor(m => m.Password)
			</div>
			<div class="editor-field">
				@Html.PasswordFor(m => m.Password)
				@Html.ValidationMessageFor(m => m.Password)
			</div>

			<div class="editor-label">
				@Html.LabelFor(m => m.ConfirmPassword)
			</div>
			<div class="editor-field">
				@Html.PasswordFor(m => m.ConfirmPassword)
				@Html.ValidationMessageFor(m => m.ConfirmPassword)
			</div>

			<p>
				<div id="loader"><img src="/Content/gfx/chrome_throbber_fast_16.gif" alt="" /></div>
				<input type="submit" id="register" value="Register" />
			</p>
		</fieldset>
	</div>
}
</body>
</html>
